/* Styles for HTML chart */

#html-chart div {
  font-family: sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px 5px;
  margin: 3px;
  color: white;
}

/* Styles for advanced SVG chart */

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
